[[source]]
name = "github"
url = "https://m-racine.github.io/pypi/"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
awsebcli = "==3.14.6"
beautifulsoup4 = "==4.6.0"
blessed = "==1.15.0"
botocore = "==1.12.34"
bs4 = "==0.0.1"
cached-property = "==1.5.1"
cement = "==2.8.2"
certifi = "==2018.4.16"
chardet = "==3.0.4"
colorama = "==0.3.9"
coverage = "==4.5.1"
django-filter = "==1.1.0"
django-nose = "==1.4.6"
docker = "==3.5.1"
docker-compose = "==1.21.2"
docker-pycreds = "==0.3.0"
dockerpty = "==0.4.1"
docopt = "==0.6.2"
docutils = "==0.14"
enum34 = "==1.1.6"
functools32 = "==3.2.3.post2"
idna = "==2.6"
ipaddress = "==1.0.22"
jmespath = "==0.9.3"
jsonschema = "==2.6.0"
nose = "==1.3.7"
pathspec = "==0.5.5"
python-dateutil = "==2.7.5"
pytz = "==2018.4"
requests = "==2.18.4"
six = "==1.11.0"
termcolor = "==1.1.0"
texttable = "==0.9.1"
urllib3 = "==1.22"
wcwidth = "==0.1.7"
"backports.ssl_match_hostname" = "==3.5.0.1"
Django = "==1.11"
PyYAML = "==3.13"
semantic_version = "==2.5.0"
websocket_client = "==0.53.0"
wheel = "*"
setuptools = "*"
howlongtobeat = "*"
mysqlclient = "*"
metacritique = "*"
mlfey-names = "*"

[requires]
python_version = "2.7"
