[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "mlfey"
url = "https://m-racine.github.io/pypi/"
verify_ssl = false

[dev-packages]

[packages]
django = "*"
howlongtobeat = "*"
metacritique = "*"
mlfey-names = "*"
django-filters = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
