files:
  "/opt/python/run/venv/.pypirc":
    mode: "000755"
    owner: root
    user: root
    content: |
        [github]
        repository: https://m-racine.github.io/pypi/
        username: m-racine
        password: mithras21
        [pypi]
        repository: https://pypi.org/simple/
  "/opt/python/run/venv/pip.conf":
      mode: "000755"
      owner: root
      user: root
      content: |
        [global]
        index-url = https://m-racine.github.io/pypi/
        trusted-host = github.io
                       pypi.org
        extra-index-url = https://pypi.org/simple
