<div>
    <p>Developed for {{game.get_system_display}}, located on {{game.get_location_display}}, in a {{game.get_game_format_display}} format.</p>
    <p>Purchased on {{game.purchase_date}}</p>
    <p>Current Time {{game.current_time}} hours.</p>
    {% include "gameslist/play_form.html" with game=game %}

    {% if game.flagged %}
        <p>Flagged!</p>
    {% else %}
            <form action="{% url 'gameslist:flag_game' game.id %}" method="post">
                {% csrf_token %}
                <button type="submit"> Flag for revision!</button>
            </form>
    {% endif %}


    <form action="{% url 'gameslist:add_note' game.id 2 %}" method="get">
                    {% csrf_token %}
                    <button type="submit"> Add Note</button>
    </form>

    <form action="{% url 'gameslist:activate' game.id %}" method="post">
          {% csrf_token %}
          <button type="submit">{% if game.active %}Deactivate{% else %}Activate{% endif %}</button>
    </form>

    <h2>Notes</h2>
    {% for obj in game.linked_notes %}
       <li>{{obj.note}}</li>
    {% endfor %}

</div>
