<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>{{ game.name }}</h1>

<body>
    <p>Developed for {{game.get_system_display}}, located on {{game.get_location_display}}, in a {{game.get_game_format_display}} format.</p>
    <p>Purchased on {{game.purchase_date}} and finished on {{game.finish_date}}</p>
    <p>Aging: {{game.aging}}. PlayAging: {{game.play_aging}}</p>
    <p>Full Time to Beat: {{game.full_time_to_beat}} Hours</p>

    {% if game.played %}<p>Played!</p>
        {% if game.beaten %}<p>Beaten!</p>
        {% elif game.abandoned %}<p>Abandoned :( </p>
        {% else %}
            <form action="{% url 'gameslist:beat_game' game.id %}" method="post">
                {% csrf_token %}
                <button type="submit"> Beat!</button>
            </form> 
            <form action="{% url 'gameslist:abandon_game' game.id %}" method="post">
                {% csrf_token %}
                <button type="submit"> Abandon.</button>
            </form> 
        {% endif %}
        
    {% else %}
        <form action="{% url 'gameslist:play_game' game.id %}" method="post">
            {% csrf_token %}
            <button type="submit"> Play!</button>
        </form> 
    {% endif %}
    
    {% if game.perler %}<p>Perler Made!</p>{% endif %}
    {% if game.reviewed %}<p>Reviewed!</p>{% endif %}
    {% if game.flagged %}
        <p>Flagged!</p>
    {% else %}
            <form action="{% url 'gameslist:flag_game' game.id %}" method="post">
                {% csrf_token %}
                <button type="submit"> Flag for revision!</button>
            </form>
    {% endif %}
    <p>{{game.notes}}</p>

    <form action="{% url 'gameslist:list' %}" method="get">
        {% csrf_token %}
        <button type="submit">Back to List</button>
    </form> 
<body>