{% load static %}
<link rel="stylesheet" href="{% static 'gameslist/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>{{ game.name }}</h1>
{% if game.alternatename_set.all %}
<h2>Also Known As</h2>
  {% for obj in game.alternatename_set.all %}
    <li>{{obj.text}}</li>
  {% endfor %}
{% endif %}
<h2>{{game.remaining_time}}</h2>
<form action="{% url 'gameslist:add_name' game.id %}" method="get">
                {% csrf_token %}
                <button type="submit"> Add Alternate Name</button>
</form>
<body>
    <div>
      <p>Priority {{game.priority}} Recommended: {{game.times_recommended}} Passed Over: {{ game.times_passed_over }} </p>
    </div>
    <div class="instance_list">
    {% for obj in game.gametoinstance_set.all %}
      <div class="instance_block">
        {% include "gameslist/detail.html" with game=obj.instance %}
      </div>
    {% endfor %}
    </div>

    <ul>
        <h2>Notes</h2>
        {% for obj in game.linked_notes %}
           <li>{{obj.note}}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'gameslist:add_note' game.id 1 %}" method="get">
                    {% csrf_token %}
                    <button type="submit"> Add Note</button>
    </form>
    <form action="{% url 'gameslist:list' %}" method="get">
        {% csrf_token %}
        <button type="submit">Back to List</button>
    </form>
<body>
