{% load gameslist_templatetags %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Game</th>
      <th><a href="?{% url_replace request 'system' '' %}">System</a></th>
      <th><a href="?{% url_replace request 'format' '' %}">Format</a></th>
    </tr>
  </thead>
  <tbody>
    {% for game in full_games_list %}
      <tr>
        <td><a href={% url 'gameslist:detail' game.id %}>{{ game.name }}</td>
        <td><a href="?{% url_replace request 'system' game.system %}">{{ game.get_system_display }}</a></td>
        <td><a href="?{% url_replace request 'format' game.game_format %}">{{ game.get_game_format_display }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
      {% comment %}
      <li><a href="?system={{request.GET.system}}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% endcomment %}
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% comment %}
    maybe use {{request.GET.system}} ??

    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% endcomment %}
    {% if page_obj.has_next %}
      <li><a href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a></li>
      {% comment %}
      <li><a href="?system={{request.GET.system}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% endcomment %}
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% comment %}
Setting up adding a game using a form to but some structure for probable user auth in the future
{% endcomment %}
<form action="{% url 'gameslist:add'%}" method="post">
    {% csrf_token %}
    <button type="submit">Add New Game</button>
</form> 