<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>You entered {{ game.name }}!</h1>

<form action="{% url 'gameslist:detail' game.id %}" method="get">
    {% csrf_token %}
    <input type="submit" value="View Game">
</form>


<form action="{% url 'gameslist:add' %}" method="get">
    {% csrf_token %}
    <input type="submit" value="Add another?">
</form>

<form action="{% url 'gameslist:list' %}" method="get">
        {% csrf_token %}
        <button type="submit">Back to List.</button>
</form> 