{% load gameslist_templatetags %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Game</th>
      <th>Location</th>
      <th>Format</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    {% for game in response.object_list %}
      <tr>
        <td><a href={% url 'gameslist:detail' game.id %}>{{ game.name }}</td>
        <td>{{ game.get_location_display }}</td>
        <td>{{ game.get_game_format_display }}</td>
        <td>{{ game.priority }}</td>
        <td><form action="{% url 'gameslist:recommend' game.id %}" method="post">
                {% csrf_token %}
                <button type="submit">&#8593;</button>
            </form>
        </td>
        <td><form action="{% url 'gameslist:pass_over' game.id %}" method="post">
                {% csrf_token %}
                <button type="submit">&#8595;</button>
            </form> 
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>



<div class="pagination">
    <span class="step-links">
        {% if response.has_previous %}
            <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
            <a href="?{% url_replace request 'page' response.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ response.number }} of {{ response.paginator.num_pages }}.
        </span>

        {% if response.has_next %}
            <a href="?{% url_replace request 'page' response.next_page_number %}">next</a>
            <a href="?{% url_replace request 'page' response.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<form action="{% url 'gameslist:add'%}" method="get">
    {% csrf_token %}
    <button type="submit">Add New Game</button>
</form> 

<form action="{% url 'gameslist:beaten' %}" method="get">
  {% csrf_token %}
    <button type="submit">Beaten list</button>
</form> 

